html{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,html{
  height: 100%;
}
body{
  margin: 0;
}
footer,{
  display: block;
}
a{
  background-color: transparent;
}
a:active,a:hover{
  outline: 0;
}
h1{
  font-size: 2em;
  margin: 0.67em 0;
}
img{
  border: 0;
}
p img{
  clear: both;
  margin: 0 auto;
  text-align: center;
}
hr{
  box-sizing: content-box;
  height: 0;
}
a,body,div,h1,p{
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
h1{
  clear: both;
  font-weight: bold;
  margin: 1.5em 0 1em;
}
p{
  margin: 1em 0;
  line-height: 1.5;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0;
}
img{
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ 
}
h1{
  font-family: "Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
  font-size: 1.250em;
}
h1:hover{
  opacity: 0.7; 
}
a{
  color: #3a3a3a;
  text-decoration: none;
}
a:visited{
  color: #3a3a3a;
}
a:active,a:focus,a:hover{
  color: #3a3a3a;
  opacity: 0.8;
}
.content-area{
  padding-top: 5px;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.entry-title{
  font-family: "Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
  letter-spacing: 0.2em;
  color: #000;
  text-align: center;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 1.25em;
}
.entry-title a{
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.entry-title:after{
    content: "";
    height: 2px;
    width: 50px;
    background: black;
    display: block;
    margin: 20px auto 0;
}
.entry-title:hover{
    opacity: 0.7;
}
.home .entry-content {
  margin: 1.5em 0;
}
.posted-on{
  text-align: center;
  font-family: "Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
  font-size: 0.688em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.site-info{
  text-align: center;
  font-size: 0.750em;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #a2a2a2;
}
.site-info a{
    text-decoration: none;
    color: #666666;
}
.header-inside{
  display: table;
  height: 100%;
  width: 100%;
}
.post{
  padding-top: 0px;
  padding-bottom: 70px;
}
.post .nav-links a{
    text-decoration: none;
    color: #3a3a3a;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
    font-size: 0.750em;
}
.post .nav-links .meta-arraw{
    opacity: 0.8;
}
.post .nav-links .nav-previous{
    position: fixed;
    bottom: 64px;
    left: 50px;
    z-index: 29;
}
.post .nav-links .nav-next{
    position: fixed;
    bottom: 64px;
    right: 50px;
    z-index: 29;
}
@media screen and (max-width: 320px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}
.touxiang:hover{
  opacity: 0.7;
}
.touxiang{
  border-bottom-color:rgb(69, 72, 77);
  border-bottom-left-radius:200px;
  border-bottom-right-radius:200px;
  border-bottom-style:none;
  border-bottom-width:0px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(69, 72, 77);
  border-left-style:none;
  border-left-width:0px;
  border-right-color:rgb(69, 72, 77);
  border-right-style:none;
  border-right-width:0px;
  border-top-color:rgb(69, 72, 77);
  border-top-left-radius:200px;
  border-top-right-radius:200px;
  border-top-style:none;
  border-top-width:0px;
  box-sizing:border-box;
  color:rgb(69, 72, 77);
  display:block;
  height:100px;
  margin:0px auto;
  max-width:100%;
  text-rendering:optimizeLegibility;
  text-size-adjust:100%;
  width:100px;
  -webkit-font-smoothing:antialiased;
}
